<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h3>Bienvenue <%=user%></h3>
    <form class="" action="deconnexion" method="get">

      <a href="/deconnexion">deconnexion</a>
    </form>
  </body>
</html>
